/* line 1, ../../app/stylesheets/users-show.sass */
.linkages_count {
  font-size: 14pt; }

/* line 3, ../../app/stylesheets/users-show.sass */
.domain {
  float: right;
  font-size: 10pt; }

/* line 6, ../../app/stylesheets/users-show.sass */
.title {
  font-size: 12pt; }
