.centering-block
  .signup
    %h1 Welcome to Information Rehab.

    %p Take a deep breath, and tell us your name on twitter

    - form_tag '/users' do
      %p
        %label{:for => 'twitter_name'} 
        = text_field_tag :id, params[:twitter_name], :id => 'twitter_name', :style => 'text-align: center'


- content_for :js_ready do
  $('#twitter_name').focus();
